<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg text-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                               
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                  <h2 class="fw-bold mb-2 text-uppercase" style="color: #fdf1ff;">Login</h2>  
                  <br>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="nameUser" style="color: #fdf1ff;">Nombre de Usuario</label>
                    <input type="text" id="nameUser" name="nameUser" class="form-control form-control-lg"  placeholder="Ingresa tu nombre de usuario" style="text-align: center; color:#fdf1ff; background-color: #151934;" formControlName="nameUser" /> 
                    <p *ngIf="loginForm.get('nameUser').hasError('required') && loginForm.get('nameUser').touched" style="color: red;">Ingrese su nombre de usuario</p>
                  </div>
    
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="password" style="color: #fdf1ff;">Password</label>
                    <input type="password" id="password" name="password"  class="form-control form-control-lg"  placeholder="Ingresa tu contraseña" style="text-align: center; color:#fdf1ff; background-color: #151934;" formControlName="password"/>                                                     
                    <p *ngIf="loginForm.get('password').hasError('pristine') " style="color: #f00;">Ingrese la contraseña</p> 
                    <p *ngIf="loginForm.get('password').hasError('minlength')" style="color: #f00;">Contraseña inferior a 8 caracteres</p>
                  </div>                  
                    <br>
                  <button class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="!loginForm.valid">Ingresar</button>                     
                             
                </form>
                  
  
              </div>                
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
